# .gitignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
bin/
build/
lib/
target/

# Useless files
._*
.codekit-config.json
.DS_Store
.DS_Store?
.log
.sass-cache/
.Spotlight-V100
.sql
.Trashes
ehthumbs.db
Thumbs.db

# Cargo
Cargo.lock
